// for fontsize and font family

@mixin text-w-s($weight, $size) {
  font-family:sans-serif, serif !important;
    font-weight: $weight !important;
    font-size: $size + px !important;
  }

  
@mixin text-w-s-two($weight, $size) {
  font-family: "Starzone", "sans-serif", "serif" !important;
    font-weight: $weight !important;
    font-size: $size + px !important;
  }

  
  @mixin font-part($values) {
    @if $values == xxl {
      font-size: 50px !important;
    } @else if $values == xl {
      font-size: 40px !important;
    } @else if $values == md {
      font-size: 35px !important;
    } @else if $values == sm {
      font-size: 25px !important;
    } @else {
      font-size: 20px !important;
    }
  }
  
  //   for height
  
  @mixin height($height) {
    height: $height + px;
  }
  
  // for width
  
  @mixin width($width) {
    width: $width + px;
  }
  
  @mixin width-pers($widthh){
      width: $widthh;
  }
  
  @mixin h-w($height, $width) {
    height: $height + px !important;
    width: $width + px !important;
  }
  
  @mixin hh-ww($heightt, $widthh) {
    height: $heightt !important;
    width: $widthh !important;
  }
  
  // for text align and justfy
  
  @mixin textalign($value) {
    text-align: $value;
  }
  @mixin justify($value) {
    display: flex;
    justify-content: $value;
  }
  
  // padding
  
  @mixin pad($a){
    padding: $a !important;
  }
  
  @mixin padd($p-t, $p-r, $p-b, $p-l) {
    padding: $p-t $p-r $p-b $p-l !important;
  }
  
  @mixin pad-t($pp) {
    padding-top: $pp !important;
  }
  
  @mixin pad-b($pp) {
    padding-bottom: $pp !important;
  }
  
  @mixin pad-t-b($ppp, $pppp) {
    padding-top: $ppp !important;
    padding-bottom: $pppp !important;
  }
  
// margin
  
@mixin margin($m-t, $m-r, $m-b, $m-l) {
  margin: $m-t $m-r $m-b $m-l !important;
}

@mixin margin-t($mm) {
  margin-top: $mm !important;
}

@mixin margin-b($mm) {
  margin-bottom: $mm !important;
}

@mixin margin-left($mm) {
  margin-left: $mm !important;
}

@mixin margin-right($mm) {
  margin-right: $mm !important;
}

@mixin margin-t-b($mmm, $mm) {
  margin-top: $mmm !important;
  margin-bottom: $mm !important;
}



  // for text align and justfy  center
  
  @mixin textalign-c {
    text-align: center;
  }
  
  @mixin justify-c {
    display: flex;
    justify-content: center;
  }
  
  // for bg color of container
  
  @mixin box($value) {
    @if $value == dark {
      background-color: #000000;
    } @else if $value == light {
      background-color: #ffffff;
    }
  }
  
  // display
  
  @mixin dis($dis) {
    display: $dis;
  }
  
  //positon
  
  @mixin posi($pos) {
    position: $pos;
  }

  // z-index
  
  @mixin z-index($z-index) {
    z-index: $z-index;
  }
  
  // box-shadow
  
  @mixin box-shadow($value) {
    box-shadow: $value;
  }
  
  
  // background img
  
  @mixin backimg {
    background-repeat: no-repeat;
    background-size: cover;
  }

  @mixin backimg-posi($bi) {
    background-repeat: no-repeat;
    background-position: $bi;
    background-size: cover;
  }

  // hadow
  
  @mixin text-shadow{
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #a19b9e, 0 0 40px #4e4a4c, 0 0 50px #e60073, 0 0 60px #393738, 0 0 70px #96848d;
      color: #ffffff;
  }
  
  @mixin box-shadow{
      box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.16) inset, 0px 0px 15px 0px #030303;
  }
 

  // for ham burger

  @mixin ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  @mixin ham-animation($a,$b){
    stroke-dasharray: $a,$b ;

  }
@mixin stroke($aaaaa){
  stroke-dashoffset : $aaaaa + px;
}

// transform

@mixin transform($trans) {
  transform: $trans;
}

@mixin transform-scale($scale) {
  transform: scale($scale);
}

@mixin t-r($rotate) {
  -webkit-transform: rotate($rotate);
  transform: rotate($rotate);
}


@mixin t-r-x($rotate) {
  -webkit-transform: rotateX($rotate);
  transform: rotateX($rotate);
}
@mixin t-r-y($rotate) {
  -webkit-transform: rotateY($rotate);
  transform: rotateY($rotate);
}
@mixin t-r-z($rotate) {
  -webkit-transform: rotateZ($rotate);
  transform: rotateZ($rotate);
}

// top left right  bottom

@mixin top-left-right($top, $left, $right, $bottom) {
  top: $top + px;
  left: $left + px;
  right: $right + px;
  bottom: $bottom + px;
}

@mixin top-left($top, $left) {
  top: $top + px;
  left: $left + px;
}

@mixin top-right($top, $right) {
  top: $top + px;
  right: $right + px;
}

@mixin bottom-left($bottom, $left) {
  bottom: $bottom + px;
  left: $left + px;
}

@mixin bottom-right($bottom, $right) {
  bottom: $bottom + px;
  right: $right + px;
}

@mixin top-bottom($top, $bottom) {
  top: $top + px;
  bottom: $bottom + px;
}

@mixin top($top) {
  top: $top + px;
}

@mixin left($left) {
  left: $left + px;
}

@mixin right($right) {
  right: $right + px;
}

@mixin bottom($bottom) {
  bottom: $bottom + px;
}
