// background-image: linear-gradient(
// 		rgb(48, 48, 48) 13%,
// 		rgb(30, 30, 30) 40%,
// 		#0c0d11 86%
// 	);

@use "_index" as *;

*{
  margin: 0;
  padding: 0;
}

/* ---------------------- Navbar -------------------- */ 

/* ----- background -------- */ 

#background-part-sec{
  background-image: url("../Img/background-part/back-3.jpg");
  z-index: -10;
  @include posi(absolute);
  // object-position: 51%;
@include backimg;
  @include  hh-ww(850px,100%);
  
}

#background-part-sec::after{
  content: "";
  @include posi(absolute);
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -10;
  @include  hh-ww(850px,100%);
}

/* ----- logo + menu  -------- */ 

.logo-menu-part{
@include flex-row;
}

.logo-sec{
  @include h-w(130,130);
  }
  





  .ham {
   @include ham;
  }

  .hamRotate.active {
    transform: rotate(45deg);
  }

  .hamRotate180.active {
    transform: rotate(180deg);
  }

  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;
  }

  .ham6 .top {
    @include  ham-animation( 40, 172);
  }

  .ham6 .middle {
    @include  ham-animation( 40 ,111);
  }

  .ham6 .bottom {
    @include  ham-animation( 40 ,172);
  }
  .ham6.active .top {
    @include stroke(-132);
  }

  .ham6.active .middle {
    @include stroke(-71);

  }

  .ham6.active .bottom {
    @include stroke(-132);

  }