* {
  margin: 0;
  padding: 0;
}

/* ---------------------- Navbar -------------------- */
/* ----- background -------- */
.pixel-head {
  height: 850px !important;
  width: 100% !important;
}

#background-part-sec {
  z-index: -10;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px !important;
  width: 100% !important;
}

#background-part-sec {
  background-image: url("../Img/background-part/back-3.jpg");
}

#background-part-sec::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.311);
  z-index: -10;
  height: 850px !important;
  width: 100% !important;
}

/* ----- logo + menu  -------- */
.logo-menu-part {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.65);
  background-image: linear-gradient(rgba(48, 48, 48, 0.207) 13%, rgba(30, 30, 30, 0.333) 40%, rgba(0, 0, 0, 0.1450980392) 86%) !important;
  padding: 40px 80px 40px 80px !important;
}

.logo-sec {
  height: 130px !important;
  width: 130px !important;
}

.pixel-menu-section {
  flex-grow: 1;
  align-self: center;
  margin: auto;
}

.pixel-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 0 !important;
  gap: 15px;
}

.pixel-menu-section > ul > li {
  list-style-type: none;
}

.nav-link {
  background-image: linear-gradient(rgba(48, 48, 48, 0.47) 13%, rgba(30, 30, 30, 0.459) 40%, rgba(12, 13, 17, 0.5607843137) 86%) !important;
  color: #fefefe !important;
  padding: 15px !important;
  font-family: sans-serif, serif !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  border-radius: 0.375rem !important;
}

.more-section {
  left: -25px !important;
  background-color: #000000 !important;
  text-align: center !important;
  transition: 0.3s;
}

.setting-part {
  border: none;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  color: #fefefe;
  outline: none;
  width: 200px !important;
  transition: background-position 0.7s, box-shadow 0.4s;
}

.setting-part:hover:after {
  right: -40px;
  transition: right 0.4s, transform 30s 0.2s linear;
}

.setting-part:before,
.setting-part:after {
  font-family: FontAwesome;
  display: block;
  position: absolute;
}

.setting-part:before {
  transition: all 1s;
  font-size: 25px !important;
}

.setting-part:after {
  transition: right 0.4s, transform 0.2s;
  font-size: 100px;
  opacity: 0.3;
  top: -17px;
  right: -120px;
}

.setting-part:hover:after {
  transform: rotate(3000deg);
}

.setting-part:hover:before {
  transform: rotate(360deg);
}

.setting-part:after,
.setting-part:before {
  content: "\f1cd";
}

.setting-part:before {
  top: 8px;
  left: 15px;
}

.login-logo {
  font-size: 22px !important;
  margin-right: 10px !important;
}

.search-box-one {
  position: absolute;
  top: 135px;
  right: 320px;
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
}

.search-box-two {
  display: none;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  position: absolute;
  top: 80px;
  right: 100px;
}

.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #000000;
  padding-right: 40px;
  color: #fff;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.397), 0 0 4px rgba(255, 255, 255, 0.462), 0 0 8px rgba(255, 255, 255, 0.416), 0 0 10px rgba(255, 255, 255, 0.453);
}

.input-search::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #fefefe;
  background-color: transparent;
  pointer-events: painted;
}

.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

/*-------Ham burger part ---------*/
.ham-part-section {
  display: none;
  filter: invert(1);
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham6 .top {
  stroke-dasharray: 40, 172;
}

.ham6 .middle {
  stroke-dasharray: 40, 111;
}

.ham6 .bottom {
  stroke-dasharray: 40, 172;
}

.ham6.active .top {
  stroke-dashoffset: -132px;
}

.ham6.active .middle {
  stroke-dashoffset: -71px;
}

.ham6.active .bottom {
  stroke-dashoffset: -132px;
}

/*-------TITLE PART-------*/
.main-name-part {
  text-align: center;
}

.main-name {
  font-family: "Starzone", "sans-serif", "serif" !important;
  font-weight: 800 !important;
  font-size: 100px !important;
  letter-spacing: 10px;
  color: aliceblue;
  text-shadow: 1px -1px 0 rgba(168, 0, 0, 0.5098039216), 5px 5px 10px rgba(255, 41, 41, 0.5725490196);
  margin-top: 100px !important;
}

.main-name-two {
  letter-spacing: 1px;
  color: aliceblue;
  font-family: "CustomFont1", "CustomFont2";
  font-weight: 800;
  font-size: 100px;
  letter-spacing: 1px;
  text-shadow: 1px -1px 0 rgba(168, 0, 0, 0.5098039216), 5px 5px 10px rgba(7, 255, 251, 0.5294117647);
}

.main-name-three {
  font-family: "CustomFont1", "CustomFont2";
  font-weight: 800;
  font-size: 50px;
  letter-spacing: 5px;
  text-shadow: 1px -1px 0 rgba(168, 0, 0, 0.5098039216), 5px 5px 10px rgba(255, 41, 41, 0.5725490196);
}

.glowing-part {
  color: var(--fontColor);
  --screenCoeff: calc(1vw + 1vh);
  --bgColor: rgb(20, 20, 20);
  --fontColor: rgb(255, 255, 255);
  --shadowColor: 0 0 0.3em rgb(0 229 215);
  --glowColor: rgb(160 255 234);
}

#glowing_text {
  text-wrap: nowrap;
  text-overflow: clip;
}

/*------- ARCADE -------*/
.arcade-section-part {
  padding: 0px 80px 0px 80px !important;
  background-color: rgb(0, 0, 0);
}

.arcade-title {
  font-family: sans-serif, serif !important;
  font-weight: 800 !important;
  font-size: 40px !important;
  letter-spacing: 3px;
  color: aliceblue;
  margin-bottom: 0 !important;
  padding-right: 20px;
  text-align: center;
}

.arcade-title-part {
  display: flex;
  flex-direction: row;
  border-top: solid 1px #fefefe;
  border-bottom: solid 1px #fefefe;
  box-shadow: 0px -15px 15px -15px #fefefe, 0px 15px 15px -15px #fefefe; /* bottom shadow */
  justify-content: center;
}

#arcade-img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right -1em bottom 10px;
     object-position: right -1em bottom 10px;
}/*# sourceMappingURL=home.css.map */