// background-image: linear-gradient(
// 		rgb(48, 48, 48) 13%,
// 		rgb(30, 30, 30) 40%,
// 		#0c0d11 86%
// 	);

@use "_index" as *;

*{
  margin: 0;
  padding: 0;
}

/* ----- LOGO -------- */ 
.logo-sec{
@include h-w(130,130);
}

.back-one-part{
  background-image: url("../Img/background-part/back-6.png");
  position: absolute;
  z-index: -10;
  opacity: 0.9;
  background-color: #000
}






  .ham {
   @include ham;
  }

  .hamRotate.active {
    transform: rotate(45deg);
  }

  .hamRotate180.active {
    transform: rotate(180deg);
  }

  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;
  }

  .ham6 .top {
    @include  ham-animation( 40, 172);
  }

  .ham6 .middle {
    @include  ham-animation( 40 ,111);
  }

  .ham6 .bottom {
    @include  ham-animation( 40 ,172);
  }
  .ham6.active .top {
    @include stroke(-132);
  }

  .ham6.active .middle {
    @include stroke(-71);

  }

  .ham6.active .bottom {
    @include stroke(-132);

  }