@use "_index" as *;

/* ---------------------- home -------------------- */

html,
body {
  overflow-x: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
}

@media only screen and (max-width: 1298px) {
  .logo-menu-part {
    @include padd(40px, 40px, 40px, 40px);
  }
  .search-box-one {
    @include top-right(135, 280);
  }
}

@media only screen and (max-width: 1215px) {
  .logo-menu-part {
    @include padd(40px, 15px, 40px, 15px);
  }
  .search-box-one {
    @include top-right(135, 255);
  }
}

@media only screen and (min-width: 1265px) {
  .pixel-menu {
    display: flex !important;
  }
  .main-name-part,
  #background-part-sec {
    filter: blur(0px) !important;
  }
}

@media only screen and (max-width: 1265px) {
  .ham-part-section {
    @include dis(block);
    float: right;
  }

  .search-box-two {
    display: block !important;
  }
  .search-box {
    display: none !important;
  }
  .setting-part {
    width: 100% !important;
  }
  .more-part-drop {
    display: none !important;
  }

  .more-section {
    display: flex !important;
    flex-direction: column;
    width: 500px !important;
    @include p-m(0, 0);
    margin-left: 26px !important;
    margin-top: -12px !important;
    position:  relative !important;
  }

  .nav-link-part-search {
    display: flex;
  }

  .pixel-menu {
    @include dis(none);
    flex-direction: column;
    width: 500px !important;
    position: absolute;
    background-color: $black-color;
    padding: 0;
    margin: 0%;
    @include p-m(0, 0);
    @include top-right(140, 0);
    text-align: center;
    gap: 0;
    animation-duration: 0.5s;
    animation-name: slideIn;
    z-index: 1;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media only screen and (max-width: 628px) {
  .pixel-menu {
    @include top-right(170, 0);
  }
}
@media only screen and (max-width: 500px) {
  .pixel-menu,
  .more-section {
    width: 100% !important;
    overflow-x: hidden;
  }
}

/*-----------------------------------*\
               Arcade
\*-----------------------------------*/

@media only screen and  (min-width: 1452px) and (max-width: 1600px) {
  .arcade-card-one:hover {
    .ca-arc-hov-img {
      opacity: 1;
      transform: translate3d(0%, -30%, 100px);
    }
  }
  .card:hover {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    transition: all 0.5s;
    cursor: pointer;
  
    .ca-arc-hov-img {
      transform: perspective(300px) translateY(-40%) rotateX(-11deg) translateZ(0) !important;
    }
    .card-img-top {
      opacity: 0.5;
    }
  }
}

.arcade-head-part{
  @media screen and (max-width: 1137px) {
    @include padd(30px, 40px, 30px, 40px);
  }
  @media screen and (max-width:650px) {
    @include padd(30px, 15px, 30px, 15px);
  }
}

@media only screen and  (max-width: 1452px) {
  .ca-arc-hov-img{
    display: none !important;
  }

}

@media only screen and  (min-width: 1600px) {
  .ca-arc-hov-img{
    display: none !important;
  }
}
@media only screen and  (max-width: 1064px) {
 
  .arcade-t-card{
    font-size: $font-size-res-zero;
  }
  .arcade-b-card{
    font-size: 16px !important;
  }
}

@media only screen and  (max-width: 1064px) {
 .serch-type{
  @include padd(0, 30px, 0 ,30px)
 }
 .title-s {
  font-size: 30px;
  margin: 0 0 105px 0;
}

}
@media only screen and  (max-width: 473px) {
.title-s {
  font-size: 18px;
}
.title-s span{
  letter-spacing: 2px;
}
#search-section-ic {
  top:75%;
}
.ser-big {
  font-size: 30px;
}
.item-6 {
  width: 40px;
  height: 40px;
}
}

/*-----------------------------------*\
               Event
\*-----------------------------------*/

@media only screen and (max-width: 1406px) {
  .event-join-t{
    @include text-w-s-two(700, 35);
  }
}

@media only screen and (max-width: 1290px) {
  .event-section-part {
    @include padd(0px, 40px, 40px, 40px);
  }
}



@media only screen and (max-width: 800px) {
  .slick-prev:before, .slick-next:before {
    top: 300px;
    font-size: 40px !important;
    position: relative;
    
  }

  .card-img, .card-img-bottom, .card-img-top {
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.slick-prev:before {
  content: '←';
  left: 417%;
  
  color: aqua !important;
}
.slick-next:before {
  content: '→';
  right: 517%;
  
  color: aqua !important;
}
}
@media only screen and (min-width: 840px) and (max-width: 992px) {
  .event-part-two-sec{
   margin-top: 20px !important;
  }
}

@media only screen and (max-width: 589px) {
  .arcade-b-card {
    font-size: 12px !important;
}
}


@media only screen and (max-width: 525px) {
  .event-join-t{
    @include text-w-s-two(600, 22);
    @include padd(30px, 0px, 0px, 0px);
  }
  .event-section-part {
    @include padd(0px, 15px, 30px, 15px);
  }
  .event-part-two-sec{
    height: 18rem !important;
  }
  .event-part-two-one{
    align-items: center;
    text-align: center;
  }
  .event-part-two-one{
    margin-bottom: 5px !important;
  }
}

@media only screen and (max-width: 500px) {
#arcade-img{
  @include hh-ww(50px,50px);
      object-position: right -1.6rem bottom 7px;
    }
    #arcade-img-two{
      @include hh-ww(50px,50px);
      object-position: right -1em bottom 8px;
    }
    .arcade-title{
      font-size: 26px !important;
      padding-top: 3px;
    }
  }

  @media only screen and (max-width: 468px) {
    
  }
  @media only screen and (max-width: 382px) {
    .arcade-b-card {
      font-size: 12px !important;
  }
  .card-img, .card-img-bottom, .card-img-top {
    height: 200px;
  }

  .slick-prev:before, .slick-next:before {
    top: 230px;
    font-size: 30px !important;

  }
.arc-btn-mor {
    padding: 0px 0 0px 0 !important;
}
.slick-prev:before {
  content: '←';
  left: 25px;
}
.slick-next:before {
  content: '→';
  right: 35px;
  
}
.arcade-t-card {
  font-size: 16px !important;
}
.arcade-btn:before {
  font-size: 16px !important;
 
  margin-top: -2px !important;
}
.arcade-btn {
 
  font-size: 14px !important;
}
.button-card-part-price {
 
  font-size: 14px !important;
}
  }
@media only screen and (max-width: 360px) {
  .event-join-t,.common-btn-part{
    font-size: 18px !important;
  }
  .event-dis{
    font-size: 14px !important;
  }
}



/*-----------------------------------*\
               characters
\*-----------------------------------*/

.char-sec-main {
  @media screen and (max-width: 1137px) {
    @include padd(30px, 40px, 30px, 40px);
  }
  @media screen and (max-width:650px) {
    @include padd(30px, 15px, 30px, 15px);
  }
}
@media screen and (max-width: 1137px) {
#myVideo{
  height: 586px !important;
  width: 100%!important;
}
.video-controls {
  width: 100%!important;
}
}
@media screen and (max-width:550px) {
  #myVideo {
    height: 185px !important;
    width: 300px !important;
}
.video-controls {
  width: 300px !important;
}
#fonts-play {
  height: 35px !important;
  width: 35px !important;
  font-size: 20px;
}
.character-btn-p {
  padding: 10px 10px !important;
}
.character-title{
  font-size: 18px !important;
}
.video-controls{
  opacity: 1 !important;
  margin-top: 0px !important;
}
.video-bar-part-c {
  top: 0px;
}
.video-controls{
  position: relative !important; 
}
}
@media screen and (max-width:427px) {
  .character-title{
    font-size: medium ;
    padding: 0px 0px 30px 0px !important;
  }
  .character-title{
    font-size: 14px !important;
  }
}


@media screen and (max-width:331px) {
.play-btn-char{
left: 0px !important;
}
.pause-btn-char{
  left: 40px !important;
}
}
@media screen and (max-width:287px) {
  .video-controls{
    display: none !important;
  }
  #myVideo {
    height: 180px !important;
    width: 100% !important;
}
  }



/*-----------------------------------*\
               contact
\*-----------------------------------*/

.footer-section {
  @media screen and (max-width: 1000px) {
    @include padd(30px, 40px, 30px, 40px);
  }
  @media screen and (max-width:650px) {
    @include padd(30px, 15px, 30px, 15px);
  }
}

@media screen and (max-width:650px) {
  .footer-head .footer-title {
    font-size: 18px !important;
  }
}
@media screen and (max-width:  768px) {
  .footer-title,
  .foot-button {
    text-align: center;
  }
  .foot-name,
  .foot-email,
  .foot-numb,
  .foot-message {
    width: 100%;
  }
  .footer-btn{
  box-shadow: 0px 0px 20px 14px hsl(0deg 100% 27.34%) inset;
  }
  .foot-button {
    padding-bottom: 30px !important;
  }
}
@media screen and (max-width: 500px) {
  #num-dis,
  #mail-dis,
  #add-dis {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 400px) {
  .footer-head .footer-title {
  font-size: 14px !important;
}
.footer-head {
  padding: 0 0 15px 0 !important;
}
}


@media screen and (max-width: 320px) {
  #num-dis,
  #mail-dis,
  #add-dis {
    font-size: $font-size-res-three;
  }
}
@media screen and (max-width: 270px) {
  #num-dis,
  #mail-dis,
  #add-dis {
    font-size: $font-size-res-four;
    padding: 0px !important;
  }
  .footer-address-section,
  .footer-mail-section,
  .footer-number-section {
    @include flex-resp;
  }
  #foot-icons-part {
    @include padd(0, 0, 10px, 0);
  }
}

/*-----------------------------------*\
               copyright
\*-----------------------------------*/

.copyright-section {
  @media screen and (max-width: 1000px) {
    @include padd(30px, 40px, 20px, 30px);
  }
  @media screen and (max-width: 818px) {
    @include flex-col;
    text-align: center;
  }
  @media screen and (max-width: 650px) {
    @include padd(30px, 15px, 30px, 15px);
  }
 
}

@media screen and (max-width: 818px) {
  .copyright-section {
  @include flex-col;
  text-align: center;
  align-items: center;
}
.copyright-fonts{
  padding-top: 15px;
margin-left: 0 !important;
}
}

/*-----------------------------------*\
               pixel title
\*-----------------------------------*/


@media only screen and (max-width: 1085px) {
  #glowing_text{
    text-wrap: wrap !important;
  }
}
@media only screen and (max-width: 698px) {
  .main-name-three{
    font-size: 25px;
  }
  .main-name-two {
    font-size: 50px;
  }
  .main-name {
    font-size: 50px !important;
  }
  .pixel-head {
    height:650px !important;
    width: 100% !important;
}
}

@media only screen and (max-width: 362px) {
  .main-name-three{
    font-size: 16px;
  }
  .main-name-two {
    font-size: 25px;
  }
  .main-name {
    margin-top: 50px !important;
    font-size: 25px !important;
  }
  .pixel-head {
    height:500px !important;
    width: 100% !important;
}
}