@use "_index" as *;

/* ---------------------- home -------------------- */

html,
body {
  overflow-x: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
}

@media only screen and (max-width: 1298px) {
  .logo-menu-part {
    @include padd(40px, 40px, 40px, 40px);
  }
  .search-box-one {
    @include top-right(135, 280);
  }
}

@media only screen and (max-width: 1215px) {
  .logo-menu-part {
    @include padd(40px, 15px, 40px, 15px);
  }
  .search-box-one {
    @include top-right(135, 255);
  }
}

@media only screen and (min-width: 1165px) {
  .pixel-menu {
    display: flex !important;
  }
  .main-name-part,
  #background-part-sec {
    filter: blur(0px) !important;
  }
}

@media only screen and (max-width: 1165px) {
  .ham-part-section {
    @include dis(block);
    float: right;
  }

  .search-box-two {
    display: block !important;
  }
  .search-box {
    display: none !important;
  }
  .setting-part {
    width: 100% !important;
  }
  .more-part-drop {
    display: none !important;
  }

  .more-section {
    display: flex !important;
    flex-direction: column;
    width: 500px !important;
    @include p-m(0, 0);
    margin-left: 26px !important;
    margin-top: -12px !important;
  }

  .nav-link-part-search {
    display: flex;
  }

  .pixel-menu {
    @include dis(none);
    flex-direction: column;
    width: 500px !important;
    position: absolute;
    background-color: $black-color;
    padding: 0;
    margin: 0%;
    @include p-m(0, 0);
    @include top-right(140, 0);
    text-align: center;
    gap: 0;
    animation-duration: 0.5s;
    animation-name: slideIn;
    z-index: 1;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media only screen and (max-width: 628px) {
  .pixel-menu {
    @include top-right(170, 0);
  }
}
@media only screen and (max-width: 500px) {
  .pixel-menu,
  .more-section {
    width: 100% !important;
  }
  .more-section {
 
    position:  relative !important;
  }
}

/*-----------------------------------*\
               Arcade
\*-----------------------------------*/

@media only screen and (max-width: 1406px) {
 
  }

/*-----------------------------------*\
               Event
\*-----------------------------------*/

@media only screen and (max-width: 1406px) {
  .event-join-t{
    @include text-w-s-two(700, 35);
  }
}

@media only screen and (max-width: 1290px) {
  .event-section-part {
    @include padd(0px, 40px, 40px, 40px);
  }
}
@media only screen and (min-width: 840px) and (max-width: 992px) {
  .event-part-two-sec{
   margin-top: 20px !important;
  }
}
@media only screen and (max-width: 525px) {
  .event-join-t{
    @include text-w-s-two(600, 22);
    @include padd(30px, 0px, 0px, 0px);
  }
  .event-section-part {
    @include padd(0px, 15px, 30px, 15px);
  }
  .event-part-two-sec{
    height: 18rem !important;
  }
  .event-part-two-one{
    align-items: center;
    text-align: center;
  }
  .event-part-two-one{
    margin-bottom: 5px !important;
  }
}

@media only screen and (max-width: 360px) {
  #arcade-img{
@include hh-ww(50px,50px);
    object-position: right -1.6rem bottom 7px;
  }
  #arcade-img-two{
    @include hh-ww(50px,50px);
    object-position: right -1em bottom 8px;
  }
  .arcade-title{
    font-size: 26px !important;
    padding-top: 3px;
  }
  .event-join-t,.common-btn-part{
    font-size: 18px !important;
  }
  .event-dis{
    font-size: 14px !important;
  }
}

/*-----------------------------------*\
               content
\*-----------------------------------*/

.footer-section {
  @media screen and (max-width: 1000px) {
    @include padd(30px, 40px, 30px, 40px);
  }
  @media screen and (max-width:650px) {
    @include padd(30px, 15px, 30px, 15px);
  }
}

@media screen and (max-width:650px) {
  .footer-head .footer-title {
    font-size: 18px !important;
  }
}
@media screen and (max-width:  768px) {
  .footer-title,
  .foot-button {
    text-align: center;
  }
  .foot-name,
  .foot-email,
  .foot-numb,
  .foot-message {
    width: 100%;
  }
  .footer-btn{
  box-shadow: 0px 0px 20px 14px hsl(0deg 100% 27.34%) inset;
  }
  .foot-button {
    padding-bottom: 30px !important;
  }
}
@media screen and (max-width: 500px) {
  #num-dis,
  #mail-dis,
  #add-dis {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 400px) {
  .footer-head .footer-title {
  font-size: 14px !important;
}
.footer-head {
  padding: 0 0 15px 0 !important;
}
}


@media screen and (max-width: 320px) {
  #num-dis,
  #mail-dis,
  #add-dis {
    font-size: $font-size-res-three;
  }
}
@media screen and (max-width: 270px) {
  #num-dis,
  #mail-dis,
  #add-dis {
    font-size: $font-size-res-four;
    padding: 0px !important;
  }
  .footer-address-section,
  .footer-mail-section,
  .footer-number-section {
    @include flex-resp;
  }
  #foot-icons-part {
    @include padd(0, 0, 10px, 0);
  }
}

/*-----------------------------------*\
               copyright
\*-----------------------------------*/

.copyright-section {
  @media screen and (max-width: 1000px) {
    @include padd(30px, 40px, 20px, 30px);
  }
  @media screen and (max-width: 818px) {
    @include flex-col;
    text-align: center;
  }
  @media screen and (max-width: 650px) {
    @include padd(30px, 15px, 30px, 15px);
  }
 
}

@media screen and (max-width: 818px) {
  .copyright-section {
  @include flex-col;
  text-align: center;
  align-items: center;
}
.copyright-fonts{
  padding-top: 15px;
margin-left: 0 !important;
}
}
