/* ---------------------- home -------------------- */
html,
body {
  overflow-x: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
}

@media only screen and (max-width: 1298px) {
  .logo-menu-part {
    padding: 40px 40px 40px 40px !important;
  }
  .search-box-one {
    top: 135px;
    right: 280px;
  }
}
@media only screen and (max-width: 1215px) {
  .logo-menu-part {
    padding: 40px 15px 40px 15px !important;
  }
  .search-box-one {
    top: 135px;
    right: 255px;
  }
}
@media only screen and (min-width: 1265px) {
  .pixel-menu {
    display: flex !important;
  }
  .main-name-part,
  #background-part-sec {
    filter: blur(0px) !important;
  }
}
@media only screen and (max-width: 1265px) {
  .ham-part-section {
    display: block;
    float: right;
  }
  .search-box-two {
    display: block !important;
  }
  .search-box {
    display: none !important;
  }
  .setting-part {
    width: 100% !important;
  }
  .more-part-drop {
    display: none !important;
  }
  .more-section {
    display: flex !important;
    flex-direction: column;
    width: 500px !important;
    padding: 0;
    margin: 0;
    margin-left: 26px !important;
    margin-top: -12px !important;
    position: relative !important;
  }
  .nav-link-part-search {
    display: flex;
  }
  .pixel-menu {
    display: none;
    flex-direction: column;
    width: 500px !important;
    position: absolute;
    background-color: #000000;
    padding: 0;
    margin: 0%;
    padding: 0;
    margin: 0;
    top: 140px;
    right: 0px;
    text-align: center;
    gap: 0;
    animation-duration: 0.5s;
    animation-name: slideIn;
    z-index: 1;
  }
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
@media only screen and (max-width: 628px) {
  .pixel-menu {
    top: 170px;
    right: 0px;
  }
}
@media only screen and (max-width: 500px) {
  .pixel-menu,
  .more-section {
    width: 100% !important;
    overflow-x: hidden;
  }
}
/*-----------------------------------*\
               Arcade
\*-----------------------------------*/
@media only screen and (min-width: 1452px) and (max-width: 1600px) {
  .arcade-card-one:hover .ca-arc-hov-img {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
  }
  .card:hover {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    transition: all 0.5s;
    cursor: pointer;
  }
  .card:hover .ca-arc-hov-img {
    transform: perspective(300px) translateY(-40%) rotateX(-11deg) translateZ(0) !important;
  }
  .card:hover .card-img-top {
    opacity: 0.5;
  }
}
@media screen and (max-width: 1137px) {
  .arcade-head-part {
    padding: 30px 40px 30px 40px !important;
  }
}
@media screen and (max-width: 650px) {
  .arcade-head-part {
    padding: 30px 15px 30px 15px !important;
  }
}

@media only screen and (max-width: 1452px) {
  .ca-arc-hov-img {
    display: none !important;
  }
}
@media only screen and (min-width: 1600px) {
  .ca-arc-hov-img {
    display: none !important;
  }
}
@media only screen and (max-width: 1064px) {
  .arcade-t-card {
    font-size: 20px !important;
  }
  .arcade-b-card {
    font-size: 16px !important;
  }
}
@media only screen and (max-width: 1064px) {
  .serch-type {
    padding: 0 30px 0 30px !important;
  }
  .title-s {
    font-size: 30px;
    margin: 0 0 105px 0;
  }
}
@media only screen and (max-width: 473px) {
  .title-s {
    font-size: 18px;
  }
  .title-s span {
    letter-spacing: 2px;
  }
  #search-section-ic {
    top: 75%;
  }
  .ser-big {
    font-size: 30px;
  }
  .item-6 {
    width: 40px;
    height: 40px;
  }
}
/*-----------------------------------*\
               Event
\*-----------------------------------*/
@media only screen and (max-width: 1406px) {
  .event-join-t {
    font-family: "Starzone", "sans-serif", "serif" !important;
    font-weight: 700 !important;
    font-size: 35px !important;
  }
}
@media only screen and (max-width: 1290px) {
  .event-section-part {
    padding: 0px 40px 40px 40px !important;
  }
}
@media only screen and (min-width: 840px) and (max-width: 992px) {
  .event-part-two-sec {
    margin-top: 20px !important;
  }
}
@media only screen and (max-width: 525px) {
  .event-join-t {
    font-family: "Starzone", "sans-serif", "serif" !important;
    font-weight: 600 !important;
    font-size: 22px !important;
    padding: 30px 0px 0px 0px !important;
  }
  .event-section-part {
    padding: 0px 15px 30px 15px !important;
  }
  .event-part-two-sec {
    height: 18rem !important;
  }
  .event-part-two-one {
    align-items: center;
    text-align: center;
  }
  .event-part-two-one {
    margin-bottom: 5px !important;
  }
}
@media only screen and (max-width: 500px) {
  #arcade-img {
    height: 50px !important;
    width: 50px !important;
    -o-object-position: right -1.6rem bottom 7px;
       object-position: right -1.6rem bottom 7px;
  }
  #arcade-img-two {
    height: 50px !important;
    width: 50px !important;
    -o-object-position: right -1em bottom 8px;
       object-position: right -1em bottom 8px;
  }
  .arcade-title {
    font-size: 26px !important;
    padding-top: 3px;
  }
}
@media only screen and (max-width: 360px) {
  .event-join-t, .common-btn-part {
    font-size: 18px !important;
  }
  .event-dis {
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 320px) {
  .arcade-title {
    font-size: 22px !important;
    padding-top: 6px;
  }
}
/*-----------------------------------*\
               characters
\*-----------------------------------*/
@media screen and (max-width: 1137px) {
  .char-sec-main {
    padding: 30px 40px 30px 40px !important;
  }
}
@media screen and (max-width: 650px) {
  .char-sec-main {
    padding: 30px 15px 30px 15px !important;
  }
}

@media screen and (max-width: 1137px) {
  #myVideo {
    height: 586px !important;
    width: 100% !important;
  }
  .video-controls {
    width: 100% !important;
  }
}
@media screen and (max-width: 550px) {
  #myVideo {
    height: 185px !important;
    width: 300px !important;
  }
  .video-controls {
    width: 300px !important;
  }
  #fonts-play {
    height: 35px !important;
    width: 35px !important;
    font-size: 20px;
  }
  .character-btn-p {
    padding: 10px 10px !important;
  }
  .character-title {
    font-size: 18px !important;
  }
  .video-controls {
    opacity: 1 !important;
    margin-top: 0px !important;
  }
  .video-bar-part-c {
    top: 0px;
  }
  .video-controls {
    position: relative !important;
  }
}
@media screen and (max-width: 427px) {
  .character-title {
    font-size: medium;
    padding: 0px 0px 30px 0px !important;
  }
  .character-title {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 331px) {
  .play-btn-char {
    left: 0px !important;
  }
  .pause-btn-char {
    left: 40px !important;
  }
}
@media screen and (max-width: 287px) {
  .video-controls {
    display: none !important;
  }
  #myVideo {
    height: 180px !important;
    width: 100% !important;
  }
}
/*-----------------------------------*\
               contact
\*-----------------------------------*/
@media screen and (max-width: 1000px) {
  .footer-section {
    padding: 30px 40px 30px 40px !important;
  }
}
@media screen and (max-width: 650px) {
  .footer-section {
    padding: 30px 15px 30px 15px !important;
  }
}

@media screen and (max-width: 650px) {
  .footer-head .footer-title {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 768px) {
  .footer-title,
  .foot-button {
    text-align: center;
  }
  .foot-name,
  .foot-email,
  .foot-numb,
  .foot-message {
    width: 100%;
  }
  .footer-btn {
    box-shadow: 0px 0px 20px 14px hsl(0, 100%, 27.34%) inset;
  }
  .foot-button {
    padding-bottom: 30px !important;
  }
}
@media screen and (max-width: 500px) {
  #num-dis,
  #mail-dis,
  #add-dis {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 400px) {
  .footer-head .footer-title {
    font-size: 14px !important;
  }
  .footer-head {
    padding: 0 0 15px 0 !important;
  }
}
@media screen and (max-width: 320px) {
  #num-dis,
  #mail-dis,
  #add-dis {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 270px) {
  #num-dis,
  #mail-dis,
  #add-dis {
    font-size: 12px !important;
    padding: 0px !important;
  }
  .footer-address-section,
  .footer-mail-section,
  .footer-number-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #foot-icons-part {
    padding: 0 0 10px 0 !important;
  }
}
/*-----------------------------------*\
               copyright
\*-----------------------------------*/
@media screen and (max-width: 1000px) {
  .copyright-section {
    padding: 30px 40px 20px 30px !important;
  }
}
@media screen and (max-width: 818px) {
  .copyright-section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 650px) {
  .copyright-section {
    padding: 30px 15px 30px 15px !important;
  }
}

@media screen and (max-width: 818px) {
  .copyright-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .copyright-fonts {
    padding-top: 15px;
    margin-left: 0 !important;
  }
}/*# sourceMappingURL=resposnive.css.map */