/*-----------------------------------*\
    //         
    character modification
    // \*-----------------------------------*/
.pixel-head {
  height: auto !important;
  background: linear-gradient(rgba(0, 0, 0, 0.758), rgba(0, 0, 0, 0.758)), url(../Img/tournament/140554-pc_game-game-esports-tournament-player-x750.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.tourn-title {
  /* @include padd(20px, 80px, 20px, 80px); */
  background: linear-gradient(rgba(0, 0, 0, 0.758), rgba(0, 0, 0, 0.758)), url(../Img/tournament/140554-pc_game-game-esports-tournament-player-x750.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

.tourn-title-text {
  color: #19ff00;
  text-shadow: 12px 11px 0 rgba(0, 0, 0, 0.51), 5px 5px 10px rgba(0, 0, 0, 0.57);
}

.tourn-trphy-img {
  height: 450px !important;
  width: 450px !important;
}

/*-----------------------------------*\
    //         
    character SECTION
    // \*-----------------------------------*/
.character-part-sec-zero {
  background-color: #000000;
  text-align: center;
  padding-top: 60px !important;
  padding-bottom: 40px !important;
  box-shadow: 0px -15px 15px -15px #fefefe, 0px 15px 15px -15px #fefefe;
}

.char-t-part {
  font-weight: 700;
  word-wrap: break-word;
  font-size: 28px;
  text-transform: capitalize;
  color: #00ff00;
  font-family: "Barlow", Sans-serif;
  font-style: italic;
  margin-bottom: 0;
  text-shadow: 1px 0px 4px rgba(0, 0, 0, 0.51), 5px 5px 10px rgba(200, 33, 33, 0.57);
}

.character-part-sec {
  background-color: #000000;
}

.cha-img {
  height: 400px;
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 1.5ch;
  box-shadow: 0px -1px 10px 0px hsla(0, 100%, 50%, 0.614);
  transition: 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}

.cha-img:hover {
  cursor: pointer !important;
  box-shadow: 0px 0px 20px 5px rgba(255, 0, 0, 0.7);
}

.char-sec-part {
  display: flex !important;
  flex-direction: row;
  padding: 20px 80px 60px 80px !important;
  justify-content: space-evenly;
  position: relative;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 0rem !important;
}

.char-titl-name {
  position: relative;
  top: -40px;
  opacity: 0;
  font-weight: 700;
  font-size: 28px;
  text-transform: capitalize;
  color: #ff0000;
  font-family: "Barlow", Sans-serif;
  font-style: italic;
  margin-bottom: 0;
  text-shadow: 1px 0px 4px rgba(0, 0, 0, 0.51), 5px 5px 10px rgba(200, 33, 33, 0.57);
  text-align: center;
  transition: 0.3s ease-in;
  background-color: rgba(0, 0, 0, 0.684);
  z-index: -1;
  width: 400px;
}

.cha-img:hover + .char-titl-name {
  opacity: 1;
  z-index: 1;
}

.char-titl-name:hover {
  cursor: pointer !important;
  opacity: 1;
  z-index: 1;
}

.ch-o {
  margin-left: auto;
  margin-right: auto;
}

#ch-o {
  margin-left: auto;
  margin-right: auto;
}

.ch-two {
  margin-left: auto;
  margin-right: auto;
}

#ch-two {
  margin-left: auto;
  margin-right: auto;
}

.ch-three {
  margin-left: auto;
  margin-right: auto;
}

#ch-three {
  margin-left: auto;
  margin-right: auto;
}

/*-----------------------------------*\
    //         
   Customize DOT number styles and buttons 
    // \*-----------------------------------*/
.slick-dots {
  background-color: #000000;
  padding-bottom: 60px !important;
}

.slick-dots li {
  font-size: 18px !important;
  font-weight: 700;
  text-transform: capitalize;
  color: #ff0000;
  font-family: "Barlow", Sans-serif;
  font-style: italic;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px !important;
}

.slick-dots {
  bottom: -30px !important;
}

.slick-prev {
  left: 39% !important;
  padding: 15px 84px 10px 10px !important;
}

.slick-next {
  right: 41% !important;
  padding: 15px 50px 10px 10px !important;
}

.slick-prev:before {
  font-size: 0px !important;
}

.slick-next:before {
  font-size: 0px !important;
}

.slick-prev,
.slick-next {
  position: absolute !important;
  font-size: 18px !important;
  font-weight: 700;
  text-transform: capitalize;
  color: #00ff00 !important;
  font-family: "Barlow", Sans-serif;
  font-style: italic;
  border: 3px #00ff00 solid !important;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  top: 91% !important;
  z-index: 2;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: darkgray;
}

.slick-dotted.slick-slider {
  padding-bottom: 30px;
}

.slick-dots li.slick-active {
  transform: scale(0.98);
  border-color: #ff0000 !important;
}

.slick-prev:hover,
.slick-next:hover {
  border: 3px rgb(255, 255, 255) solid !important;
  color: rgb(255, 255, 255) !important;
}

@media only screen and (max-width: 1492px) {
  .char-sec-part {
    display: flex !important;
    flex-direction: row;
    padding: 20px 40px 60px 40px !important;
  }
  .slick-prev {
    left: 15px !important;
  }
  .slick-next {
    right: 25px !important;
  }
}
@media only screen and (max-width: 936px) {
  .char-sec-part {
    display: flex !important;
    flex-direction: row;
    padding: 20px 15px 60px 15px !important;
  }
}
@media only screen and (max-width: 428px) {
  .cha-img {
    height: 300px;
    width: 100%;
  }
  .char-t-part {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .character-part-sec-zero {
    padding-top: 40px !important;
    padding-bottom: 20px !important;
  }
  .char-titl-name {
    font-size: 18px;
    top: -25px;
    width: 100%;
    opacity: 1 !important;
    position: relative;
    z-index: 1;
  }
}/*# sourceMappingURL=character.css.map */