body {
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: blue;
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.18em;
  --top-offset: 75.66vh;
  --fall-duration: 6.927s;
  --fall-delay: 1.428s;
}
.star:nth-child(2) {
  --star-tail-length: 7.29em;
  --top-offset: 93.7vh;
  --fall-duration: 10.712s;
  --fall-delay: 3.904s;
}
.star:nth-child(3) {
  --star-tail-length: 5.98em;
  --top-offset: 16.48vh;
  --fall-duration: 8.044s;
  --fall-delay: 3.686s;
}
.star:nth-child(4) {
  --star-tail-length: 6.33em;
  --top-offset: 87.62vh;
  --fall-duration: 9.918s;
  --fall-delay: 3.184s;
}
.star:nth-child(5) {
  --star-tail-length: 7.21em;
  --top-offset: 35.99vh;
  --fall-duration: 11.715s;
  --fall-delay: 8.023s;
}
.star:nth-child(6) {
  --star-tail-length: 6.17em;
  --top-offset: 53.46vh;
  --fall-duration: 10.891s;
  --fall-delay: 6.544s;
}
.star:nth-child(7) {
  --star-tail-length: 5.54em;
  --top-offset: 28.46vh;
  --fall-duration: 8.878s;
  --fall-delay: 9.58s;
}
.star:nth-child(8) {
  --star-tail-length: 5.04em;
  --top-offset: 6.14vh;
  --fall-duration: 6.564s;
  --fall-delay: 2.795s;
}
.star:nth-child(9) {
  --star-tail-length: 6.92em;
  --top-offset: 70.37vh;
  --fall-duration: 10.782s;
  --fall-delay: 1.503s;
}
.star:nth-child(10) {
  --star-tail-length: 7.01em;
  --top-offset: 4.17vh;
  --fall-duration: 11.687s;
  --fall-delay: 1.751s;
}
.star:nth-child(11) {
  --star-tail-length: 5.95em;
  --top-offset: 45.42vh;
  --fall-duration: 8.501s;
  --fall-delay: 4.25s;
}
.star:nth-child(12) {
  --star-tail-length: 6.32em;
  --top-offset: 67.32vh;
  --fall-duration: 6.355s;
  --fall-delay: 4.262s;
}
.star:nth-child(13) {
  --star-tail-length: 5.65em;
  --top-offset: 45.59vh;
  --fall-duration: 8.028s;
  --fall-delay: 7.916s;
}
.star:nth-child(14) {
  --star-tail-length: 5.5em;
  --top-offset: 25.34vh;
  --fall-duration: 10.35s;
  --fall-delay: 3.086s;
}
.star:nth-child(15) {
  --star-tail-length: 7.18em;
  --top-offset: 0.73vh;
  --fall-duration: 7.035s;
  --fall-delay: 8.622s;
}
.star:nth-child(16) {
  --star-tail-length: 7.27em;
  --top-offset: 95.42vh;
  --fall-duration: 10.91s;
  --fall-delay: 9.874s;
}
.star:nth-child(17) {
  --star-tail-length: 5.39em;
  --top-offset: 23.87vh;
  --fall-duration: 10.876s;
  --fall-delay: 1.082s;
}
.star:nth-child(18) {
  --star-tail-length: 5.09em;
  --top-offset: 4.67vh;
  --fall-duration: 7.87s;
  --fall-delay: 2.622s;
}
.star:nth-child(19) {
  --star-tail-length: 7.31em;
  --top-offset: 83.77vh;
  --fall-duration: 10.408s;
  --fall-delay: 1.5s;
}
.star:nth-child(20) {
  --star-tail-length: 6.11em;
  --top-offset: 87.46vh;
  --fall-duration: 8.969s;
  --fall-delay: 0.085s;
}
.star:nth-child(21) {
  --star-tail-length: 5.84em;
  --top-offset: 27.47vh;
  --fall-duration: 7.202s;
  --fall-delay: 6.768s;
}
.star:nth-child(22) {
  --star-tail-length: 7.27em;
  --top-offset: 48.51vh;
  --fall-duration: 6.285s;
  --fall-delay: 7.512s;
}
.star:nth-child(23) {
  --star-tail-length: 5.63em;
  --top-offset: 68.69vh;
  --fall-duration: 11.133s;
  --fall-delay: 6.368s;
}
.star:nth-child(24) {
  --star-tail-length: 6.77em;
  --top-offset: 90.92vh;
  --fall-duration: 7.933s;
  --fall-delay: 1.229s;
}
.star:nth-child(25) {
  --star-tail-length: 6.8em;
  --top-offset: 98.54vh;
  --fall-duration: 6.099s;
  --fall-delay: 8.028s;
}
.star:nth-child(26) {
  --star-tail-length: 5.98em;
  --top-offset: 29.44vh;
  --fall-duration: 6.126s;
  --fall-delay: 3.787s;
}
.star:nth-child(27) {
  --star-tail-length: 5.74em;
  --top-offset: 15.61vh;
  --fall-duration: 7.549s;
  --fall-delay: 5.102s;
}
.star:nth-child(28) {
  --star-tail-length: 5.96em;
  --top-offset: 10.7vh;
  --fall-duration: 6.275s;
  --fall-delay: 9.281s;
}
.star:nth-child(29) {
  --star-tail-length: 5.21em;
  --top-offset: 10.74vh;
  --fall-duration: 7.443s;
  --fall-delay: 7.382s;
}
.star:nth-child(30) {
  --star-tail-length: 7.4em;
  --top-offset: 29.02vh;
  --fall-duration: 6.28s;
  --fall-delay: 4.211s;
}
.star:nth-child(31) {
  --star-tail-length: 5.93em;
  --top-offset: 88.18vh;
  --fall-duration: 7.873s;
  --fall-delay: 8.243s;
}
.star:nth-child(32) {
  --star-tail-length: 6.78em;
  --top-offset: 48.72vh;
  --fall-duration: 8.706s;
  --fall-delay: 5.18s;
}
.star:nth-child(33) {
  --star-tail-length: 6.06em;
  --top-offset: 62.83vh;
  --fall-duration: 6.973s;
  --fall-delay: 3.52s;
}
.star:nth-child(34) {
  --star-tail-length: 5.9em;
  --top-offset: 99.01vh;
  --fall-duration: 6.084s;
  --fall-delay: 1.07s;
}
.star:nth-child(35) {
  --star-tail-length: 6.92em;
  --top-offset: 74.21vh;
  --fall-duration: 7.696s;
  --fall-delay: 9.366s;
}
.star:nth-child(36) {
  --star-tail-length: 6.05em;
  --top-offset: 34.89vh;
  --fall-duration: 6.698s;
  --fall-delay: 1.301s;
}
.star:nth-child(37) {
  --star-tail-length: 5.06em;
  --top-offset: 97.76vh;
  --fall-duration: 8.211s;
  --fall-delay: 3.385s;
}
.star:nth-child(38) {
  --star-tail-length: 7.34em;
  --top-offset: 76.99vh;
  --fall-duration: 8.688s;
  --fall-delay: 9.537s;
}
.star:nth-child(39) {
  --star-tail-length: 5.64em;
  --top-offset: 60.35vh;
  --fall-duration: 9.967s;
  --fall-delay: 5.726s;
}
.star:nth-child(40) {
  --star-tail-length: 6.69em;
  --top-offset: 13.92vh;
  --fall-duration: 8.227s;
  --fall-delay: 9.778s;
}
.star:nth-child(41) {
  --star-tail-length: 6.52em;
  --top-offset: 76.37vh;
  --fall-duration: 6.964s;
  --fall-delay: 2.352s;
}
.star:nth-child(42) {
  --star-tail-length: 6.63em;
  --top-offset: 30.4vh;
  --fall-duration: 6.301s;
  --fall-delay: 3.071s;
}
.star:nth-child(43) {
  --star-tail-length: 6.08em;
  --top-offset: 39.02vh;
  --fall-duration: 7.342s;
  --fall-delay: 0.748s;
}
.star:nth-child(44) {
  --star-tail-length: 7.05em;
  --top-offset: 5.29vh;
  --fall-duration: 6.646s;
  --fall-delay: 4.901s;
}
.star:nth-child(45) {
  --star-tail-length: 7.1em;
  --top-offset: 34.97vh;
  --fall-duration: 7.985s;
  --fall-delay: 9.35s;
}
.star:nth-child(46) {
  --star-tail-length: 5.43em;
  --top-offset: 39.98vh;
  --fall-duration: 7.597s;
  --fall-delay: 7.707s;
}
.star:nth-child(47) {
  --star-tail-length: 6.01em;
  --top-offset: 53.63vh;
  --fall-duration: 10.059s;
  --fall-delay: 9.431s;
}
.star:nth-child(48) {
  --star-tail-length: 5.59em;
  --top-offset: 70.29vh;
  --fall-duration: 7.953s;
  --fall-delay: 4.047s;
}
.star:nth-child(49) {
  --star-tail-length: 5.68em;
  --top-offset: 10.42vh;
  --fall-duration: 8.533s;
  --fall-delay: 0.35s;
}
.star:nth-child(50) {
  --star-tail-length: 6.67em;
  --top-offset: 51.78vh;
  --fall-duration: 8.43s;
  --fall-delay: 8.04s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
.main-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}/*# sourceMappingURL=contact.css.map */