/*-----------------------------------*\
    //         
    character modification
    // \*-----------------------------------*/
.pixel-head {
  height: auto !important;
  background: linear-gradient(rgba(0, 0, 0, 0.758), rgba(0, 0, 0, 0.758)), url(../Img/trending/wp5231545.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.tourn-title {
  /* @include padd(20px, 80px, 20px, 80px); */
  background: linear-gradient(rgba(0, 0, 0, 0.758), rgba(0, 0, 0, 0.758)), url(../Img/trending/wp5231545.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

.tourn-title-text {
  color: #ff0000;
  text-shadow: 12px 11px 0 rgba(0, 0, 0, 0.51), 5px 5px 10px rgba(0, 0, 0, 0.57);
}

.tourn-trphy-img {
  height: 450px !important;
  width: 450px !important;
}

/*-----------------------------------*\
    //         
    game and streams
    // \*-----------------------------------*/
.trending-section {
  box-shadow: 0 -5px 3px -3px rgb(255, 255, 255), 0 5px 3px -3px rgb(255, 255, 255);
  background-color: black;
}

.discord-part-joinn {
  box-shadow: 0 -5px 3px -3px rgb(255, 255, 255), 0 5px 3px -3px rgb(255, 255, 255);
}

.container-fluid {
  --bs-gutter-x: 0rem !important;
}

.trending-title {
  padding-top: 40px;
  color: rgb(140, 255, 0);
  font-weight: 700;
  font-style: italic;
  text-align: center;
  font-size: 40px;
  text-transform: capitalize;
  font-family: "Arial", "Helvetica", "sans-serif";
  margin-bottom: 0%;
  text-shadow: 1px 0px 0 rgba(108, 190, 1, 0.51), 8px 3px 8px rgba(172, 81, 81, 0.33);
}

/*-----------------------------------*\
    //         
    streams section
    // \*-----------------------------------*/
#streams-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.trending-section {
  background: linear-gradient(rgba(0, 0, 0, 0.937), rgba(0, 0, 0, 0.937)), url(../Img/about-us/about-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 60px 80px 60px 80px !important;
}

.stream {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #302f2f;
  border-radius: 5px;
  text-align: center;
  width: 400px;
  text-align: center;
  align-items: center;
  box-shadow: 0px -1px 10px 0px hsla(0, 100%, 50%, 0.614);
}

.trending-title {
  padding-top: 0px;
  padding-bottom: 60px;
}

.stream img {
  width: 100%;
  border-radius: 5px;
}

.stream h3 {
  font-weight: 700;
  text-transform: capitalize;
  color: #ffffff;
  font-family: "Barlow", Sans-serif;
  font-style: italic;
  margin-top: 10px;
  font-size: 16px;
}

.stream:hover {
  box-shadow: 0px 0px 20px 5px rgba(255, 0, 0, 0.7);
}

.stream p {
  font-size: 14px;
  color: #666;
}

.stream a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
}/*# sourceMappingURL=gamestreamnews.css.map */