.profile-pic {
  color: transparent;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}
.profile-pic input {
  display: none;
}
.profile-pic img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 165px;
  height: 165px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
  border-radius: 100px;
  z-index: 0;
  object-fit: cover;
}
.profile-pic .-label {
  cursor: pointer;
  height: 165px;
  width: 165px;
}
.profile-pic:hover .-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  color: rgb(250, 250, 250);
  transition: background-color 0.2s ease-in-out;
  border-radius: 100px;
  margin-bottom: 0;
}
.profile-pic span {
  display: inline-flex;
  padding: 0.2em;
  height: 2em;
}

@keyframes open {
  0% {
    background-position: 166% -25%, 220% -69%;
  }
  100% {
    background-position: 120% -5%, 200% -40%;
  }
}
/*-----------------------------------*\
           BACK TO HOME BTN
\*-----------------------------------*/
/*-----------------------------------*\
            custom scrollbar
\*-----------------------------------*/
/* Handle on hover */

.card {
  width: 310px;
  height: 627px;
  padding: 15px;
  margin-top: 40px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  box-shadow: 15px 10px 25px 0px #3fa1a9;
  background: linear-gradient(rgba(0, 0, 0, 0.997), rgba(0, 0, 0, 0.948));
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: open 0.5s;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

input[type=file] {
  display: none;
}

.custom-file-upload {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  padding: 6px;
  cursor: pointer;
  background: linear-gradient(270deg, #3fa1a9, #79f1a4);
  margin-bottom: 25px;
}

.img-wrap {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.img-wrap img {
  width: 100%;
  height: 100%;
}

label {
  color: #ffffff;
  padding: 5px;
}

input {
  border-radius: 15px;
  border: 1px solid #b7b7b7;
  padding: 5px 10px;
  font-size: 18px;
  transition: 0.2s;
}
input:focus {
  outline: none;
  border: 1px solid #64d488;
}
input::-moz-placeholder {
  color: #bebebe;
}
input::placeholder {
  color: #bebebe;
}

.name {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  max-width: 220px;
  overflow-wrap: break-word;
}

.status {
  text-align: center;
  max-width: 220px;
  overflow-wrap: break-word;
}

.sav-btn {
  position: relative;
  color: #054231;
  letter-spacing: 1px;
  margin: 20px;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  border-radius: 10px;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  background: #64d488;
  width: 180px;
}
.sav-btn:hover {
  left: 0;
  color: #fff;
  width: 180px;
  box-shadow: 0px 0px 20px 0px #63d3a6;
}
.sav-btn:focus {
  outline: none;
}

.save {
  font-weight: 600;
  left: -20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 20px;
  box-shadow: 20px 0px 40px 0px #63d3a6;
}

.edit {
  color: #fff;
  width: 180px;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

.fa-instagram {
  position: absolute;
  color: #79f1a4;
  top: 3%;
  right: 2%;
  font-size: 38px;
}
.fa-instagram:hover {
  font-size: 42px;
  color: #caff81;
  transition: all 0.1s linear;
  cursor: pointer;
}

.cont-btn {
  position: absolute;
  margin-right: 150px !important;
}

.part-btn {
  color: #054231;
  letter-spacing: 1px;
  margin: 20px;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  border-radius: 10px;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  background: #64d488;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(21, 255, 0, 0.7450980392);
}
::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
}

.img-wrap img {
  -o-object-fit: cover;
     object-fit: cover;
}

.username {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 2ch;
}

.field {
  margin: 5px;
  display: flex;
  flex-direction: column;
  width: 100% !important;
}/*# sourceMappingURL=profile.css.map */