/*-----------------------------------*\
             common
\*-----------------------------------*/
.pixel-head {
  height: auto !important;
  background: linear-gradient(rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0.868)), url(../Img/tournament/tournament-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.logo-menu-part {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.btn-search {
  top: -9px;
}

/*-----------------------------------*\
              Tournament title 
\*-----------------------------------*/
.tourn-title {
  padding: 20px 80px 20px 80px !important;
  background: linear-gradient(rgba(0, 0, 0, 0.864), rgba(0, 0, 0, 0.826)), url(../Img/tournament/tournament-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

.tour-t-one {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tourn-title-text {
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 3px;
  color: #ffffff;
  font-family: "Starzone", "serif";
  text-shadow: 1px -1px 0 rgba(168, 0, 0, 0.5098039216), 5px 5px 10px rgba(255, 41, 41, 0.5725490196);
}

.tourn-title-text p {
  margin-bottom: 0;
}

/*-----------------------------------*\
        Tournament title img 
\*-----------------------------------*/
.tour-title-img {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.tourn-trphy-img {
  height: 300px !important;
  width: 300px !important;
}

.tourn-trphy-img:hover {
  animation: breadcrumbShake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes breadcrumbShake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@media only screen and (max-width: 760px) {
  .tour-t-two {
    display: none;
  }
  .tourn-title {
    padding: 100px 15px 100px 15px !important;
  }
}
@media only screen and (max-width: 675px) {
  .tourn-title-text {
    font-size: 40px;
  }
}
@media only screen and (max-width: 445px) {
  .tourn-title-text {
    font-size: 25px;
  }
}
/*-----------------------------------*\
          Tournament section
\*-----------------------------------*/
.cod-tour-sec {
  padding: 60px 80px 60px 80px !important;
  background-color: #000000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -15px 15px -15px #fefefe, 0px 15px 15px -15px #fefefe;
}

#cod-tour-img {
  height: 300px !important;
  width: 100% !important;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.975);
  border-radius: 2ch;
}

.tor-body-s-s {
  text-align: center;
}

.tour-body-sec {
  padding-top: 50px !important;
  padding-bottom: 0px !important;
}

.title-tour-t {
  color: white;
  font-weight: 700;
  word-wrap: break-word;
  font-size: 28px;
  text-transform: capitalize;
  font-family: "Arial", "Helvetica", "sans-serif";
}

.pir-tour {
  color: white;
  font-weight: 700;
  font-style: italic;
  word-wrap: break-word;
  font-size: 28px;
  text-transform: capitalize;
  font-family: "Arial", "Helvetica", "sans-serif";
}

.t-t-img {
  position: absolute;
  z-index: 0;
  margin-top: 60px;
  transform: translate(-50%, -50%);
}

.pir-to {
  color: rgb(35, 255, 1);
  font-weight: 500;
  padding-top: 7px;
  word-wrap: break-word;
  font-size: 20px;
  text-transform: capitalize;
  font-family: "Arial", "Helvetica", "sans-serif";
}

.prize-info {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.button-sec-tour {
  padding: 10px 20px;
  background-color: rgba(0, 255, 0, 0.7529411765);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  transition: background-color 0.3s ease;
  font-family: "Arial", "Helvetica", "sans-serif";
  border: solid 2px transparent;
}

.button-sec-tour:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: solid 2px white;
}

#countdown {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  color: white;
  font-weight: 300;
  word-wrap: break-word;
  font-size: 18px;
  text-transform: capitalize;
  font-family: "Arial", "Helvetica", "sans-serif";
}

.countdown-part {
  display: flex;
  flex-direction: column;
}

#tour-body-four {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media only screen and (max-width: 1200px) {
  .cod-tour-sec {
    padding: 30px 15px 30px 15px !important;
  }
  #tour-body-two {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #tour-body-three {
    padding-bottom: 30px;
  }
  #cod-tour-img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}
@media only screen and (max-width: 400px) {
  #cod-tour-img {
    height: 150px !important;
  }
  .title-tour-t {
    font-size: 18px;
  }
  .pir-to, #countdown {
    font-size: 16px;
  }
  .button-sec-tour {
    padding: 5px 10px;
  }
}
/*-----------------------------------*\
          Tournament  details
\*-----------------------------------*//*# sourceMappingURL=tournament.css.map */