@use "../Scss/_index.scss" as *;
/*-----------------------------------*\
    //         
    character modification
    // \*-----------------------------------*/
      
.pixel-head {
  height: auto !important;
  background: linear-gradient(rgba(0, 0, 0, 0.758), rgba(0, 0, 0, 0.758)),
    url(../Img/trending/wp4533279.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.tourn-title {
  /* @include padd(20px, 80px, 20px, 80px); */
  background: linear-gradient(rgba(0, 0, 0, 0.758), rgba(0, 0, 0, 0.758)),
    url(../Img/trending/wp4533279.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}
.tourn-title-text {
  color: #ff0000;
  text-shadow: 12px 11px 0 rgb(0 0 0 / 51%), 5px 5px 10px rgb(0 0 0 / 57%);
}

.tourn-trphy-img {
  height: 450px !important;
  width: 450px !important;
}

/*-----------------------------------*\
    //         
    trending 
    // \*-----------------------------------*/


    .trending-section{
box-shadow: 0 -5px 3px -3px rgb(255, 255, 255), 0 5px 3px -3px rgb(255, 255, 255);
        background-color: black;
    
    }
    .discord-part-joinn{
        box-shadow: 0 -5px 3px -3px rgb(255, 255, 255), 0 5px 3px -3px rgb(255, 255, 255);
    }

.container-fluid {
        --bs-gutter-x: 0rem !important;
}
.trending-title{
    color: white;
    font-weight: 700;
    font-style: italic;
text-align: center;
    font-size: 40px;
    text-transform: capitalize;
    font-family: $font;
    margin-bottom: 0%;
    padding-top: 40px !important;
}


.vr-sec {
 padding: 40px 80px 40px 80px !important;
 background-color: black;
 justify-content: center;
    display: flex;
}

.vr-i {
  object-fit: cover;
  width: 255px;
  height: 145px;
}
.vr-out {
  margin-top: 10px;
  display: flex;
  gap: 1%;
}

.vrslider {
  background-color: #230633;
  position: relative;
}
.vr-title {
  color: #eeeeee;
  font-size: 30px;
  font-family: "Arvo", serif;
  margin-bottom: 20px;
}

.vrslider {
  position: relative;
}

/* .vr-in {
  display: flex;
} */

.vr-out {
  display: none;
}

.pt {
  margin-top: -5px;
  position: absolute;
  width: 100%;
  background-image: linear-gradient(
    315deg,
    #1660a5 74%,
    #3b88c7 0%,
    #2c83d4 74%
  );

  float: left;
}
.pt p {
  color: whitesmoke;
  font-weight: bold;
  text-align: end;
  padding-right: 10px;
  padding: 7px 5px;
}
.live-sec,
.offer {
  margin: 30px 60px 30px 18.4%;
}
.til {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.til a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  background: transparent;
  padding: 5px 10px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.til a:hover {
  box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.2);
}




//  <!-- ************************************************************************************************************************************************************************************************************************************************************** -->

.title-fr .tr h1:hover {
  cursor: pointer;
  color: #007bff; /* Change color to your desired hover color */
}

.vr-sec {

}

.vr-i {
  object-fit: cover;
  width: 255px;
  height: 145px;
}
.vr-out {
  margin-top: 10px;
  display: flex;
  gap: 1%;
}

.vrslider {
  background-color: #230633;
  position: relative;
}
.vr-title {
  color: #eeeeee;
  font-size: 30px;
  font-family: "Arvo", serif;
  margin-bottom: 20px;
}

.vrslider {
  position: relative;
}

/* .vr-in {
  display: flex;
} */

.vr-out {
  display: none;
}

.pt {
  margin-top: -5px;
  position: absolute;
  width: 100%;
  background-image: linear-gradient(
    315deg,
    #1660a5 74%,
    #3b88c7 0%,
    #2c83d4 74%
  );

  float: left;
}
.pt p {
  color: whitesmoke;
  font-weight: bold;
  text-align: end;
  padding-right: 10px;
  padding: 7px 5px;
}
.live-sec,
.offer {
  margin: 30px 60px 30px 18.4%;
}
.til {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.til a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  background: transparent;
  padding: 5px 10px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.til a:hover {
  box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.2);
}
.live-title {
  color: white;
  font-size: 20px;
  font-weight: 900;
}

.live-main {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 5px;
}
.live-card {
  width: 100%;

  background-color: #1e1f20;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(56, 11, 11, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  flex-basis: 37%;
  -webkit-box-shadow: 0 10px 6px -6px rgb(0, 0, 0);
  -moz-box-shadow: 0 10px 6px -6px rgb(12, 11, 11);
  box-shadow: 0 10px 6px -6px rgb(0, 0, 0);
  box-shadow: 4px 4px 4px 4px rgba(17, 5, 5, 0.5);
}
.main-img img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}
.live-play {
  position: absolute;
  top: 30%;
  left: 40%;
}

.live-text {
  position: absolute;
  top: 3%;
  width: 60px;
  left: 2%;
  color: white;
  background: url("../res/videos/download.png");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-position-x: 5px;
  box-shadow: 0 0 20px #a94847;
  padding: 2px 0px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.6s;
}

.live-text p {
  font-size: 15px;
  text-align: end;
  padding-right: 8px;
}

.live-des {
  margin-top: 0;
  background-color: #1660a5;
  display: flex;
  padding: 8px 10px;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.live-left {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
}
.live-des p {
  font-size: 15px;
  font-weight: bold;
}
.live-des p i {
  font-size: 15px;
  font-weight: bold;
  padding-right: 5px;
}

.offer-title {
  color: white;
  font-size: 20px;
  font-family: "Sen", serif;
  font-weight: 900;
}

.offer-main {
  margin-top: 15px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  color: white;
}

.card-main {
  display: flex;
  gap: 10px;
  height: 60vh;
}

.card-left {
  flex-basis: 40%;

  background-color: #1e1f20;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(56, 11, 11, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

  -webkit-box-shadow: 0 10px 6px -6px rgb(0, 0, 0);
  -moz-box-shadow: 0 10px 6px -6px rgb(12, 11, 11);
  box-shadow: 0 10px 6px -6px rgb(0, 0, 0);
}

.card-left img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card-right {
  flex-basis: 62%;
}

.card-r-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-r-item {
  background-color: #1e1f20;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(56, 11, 11, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  flex-basis: 37%;
  -webkit-box-shadow: 0 10px 6px -6px rgb(0, 0, 0);
  -moz-box-shadow: 0 10px 6px -6px rgb(12, 11, 11);
  box-shadow: 0 10px 6px -6px rgb(0, 0, 0);
}

.offer-des {
  background-color: #005f8b;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(56, 11, 11, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  flex-basis: 37%;
  -webkit-box-shadow: 0 10px 6px -6px rgb(0, 0, 0);
  -moz-box-shadow: 0 10px 6px -6px rgb(12, 11, 11);
  box-shadow: 0 10px 6px -6px rgb(0, 0, 0);
}

.offer-des p {
  font-family: Sen, serif;
  padding: 3px 10px;
  text-align: end;
}
.card-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 40px;
  grid-column-gap: 7px;
}













.download-sec {
  @include padd(40px , 80px,40px,80px);
  background-color: black;
}

.down-container {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  background-color: rgb(40, 59, 75);
}

.down-img {
  box-shadow: 4px 4px 4px 4px rgba(17, 5, 5, 0.5);
  width: 270px;
  height: 120px;
  object-fit: cover;
}

.tr {
  margin-left: 10px;

  margin-right: 20px;
}
.yy {
  padding: 3px 9px;
  color: white;
  text-align: center;
  font-size: 18px;
  font-family: "Sen", serif;
  font-weight: 600;
  margin-top: 20px;
}

.fr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dow {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.down-side {
  flex-basis: 40%;
  background-color: #0089c8;
}
.do1 {
  display: flex;
}

.do3 p {
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: "Sen", serif;
}
.do2 {
  display: flex;
  color: white;
  margin: 15px 0px 0px 10px;
  flex-direction: column;
}

.o1 {
  font-size: 17px;
}

.icon-down {
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

.title-fr {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.yu {
  background-color: #005f8b;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.o2 {
  font-size: 15px;
  font-weight: 500;
}

[data-tab-content] {
  display: none;
}
.active[data-tab-content] {
  background-color: #283746;
  display: block;
}

.k1 {
  margin-top: 10px;
  display: flex;
}

.tab-items {
  flex-basis: 65%;
}

.ml {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #24334b;

  box-shadow: 0 4px 4px rgba(14, 1, 1, 0.4), 0 0px 40px rgba(0, 0, 0, 0.1) inset;
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
}

.ml-up {
  padding: 15px 10px 0px 15px;
}
.ml-title {
  color: white;

  font-family: "Sen", serif;
}

.ml-rate {
  margin-top: 20px;
  padding: 7px 20px;
  color: white;
  background-color: #193d70;
}
.b1 {
  font-family: "Arvo", serif;
  font-size: 15px;
  font-weight: 600;
}
.bl {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 600;
}

.ml-tags {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.ml-tag a {
  color: white;
  text-decoration: none;
  font-size: 13px;
  padding: 2px 8px;
  font-weight: bold;
  background-color: rgb(41, 120, 173);
}
.ml-tag {
  flex-basis: 25%;
}

.ml-img-contains {
  padding: 0px 10px 10px 15px;
  margin-top: 20px;
  gap: 6px;
  display: flex;
  flex-direction: column;
}
.ml-img-contain img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.footer-sec {
  padding: 10px 0px;
  background-color: #093c53;
}
.footer-container {
  margin: 70px 70px 30px 18.4%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(9, 53, 66);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-upper {
  box-shadow: 0 9px 4px rgba(0, 0, 0, 0.3), 0 0 60px rgba(0, 0, 0, 0.1) inset;
  color: white;
  padding: 10px;
  align-items: center;
  /* justify-content: space-between; */
  display: flex;
}
.cop-logo,
.co-logo {
  flex-basis: 20%;
}

.cop-des {
  flex-basis: 60%;
  position: relative;
}
.cop-logo {
  padding-left: 130px;
}
.cop-logo a {
  color: rgb(177, 166, 166);
  padding: 5px 10px;
  text-decoration: none;
  font-size: 18px;
  font-family: "Arvo", "Sen";
  font-weight: 900;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 60px rgba(0, 0, 0, 0.1) inset;
  background-image: linear-gradient(
    335deg,
    #378bad 50%,
    #09a1ac 20%,
    #3bbec7 20%,
    #0a5c70 10%
  );
}
.m1 {
  color: #d8dce0;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
}

.footer-tag {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: 500;
}

.m2 {
  position: absolute;
  bottom: 2%;
  right: 1.6%;
}

.co-logo {
  margin-right: 90px;
}
.co-logo img {
  width: 100px;
  object-fit: cover;
}

.footer-lower {
  margin-top: 30px;
  height: 90px;
  padding: 0px 30px;
  box-shadow: 0 9px 10px rgba(0, 0, 0, 0.3), 0 0 60px rgba(0, 0, 0, 0.1) inset;
  background-color: rgb(35, 80, 93);
  display: flex;
  align-items: center;
  justify-content: center;
}
.mm {
  color: rgb(197, 197, 197);
  font-size: 15px;
  font-weight: bold;
  padding: 0px 14px;
}

.sam {
  display: flex;
  align-items: center;
  justify-self: center;
}

.sam a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
.sam img {
  padding-right: 6px;
}



.fade:not(.show) {
  opacity: 1 !important; 
}







































