@use "../Scss/_index.scss" as *;
/*-----------------------------------*\
    //         
    character modification
    // \*-----------------------------------*/
      
.pixel-head {
  height: auto !important;
  background: linear-gradient(rgba(0, 0, 0, 0.758), rgba(0, 0, 0, 0.758)),
    url(../Img/trending/wp4533279.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.tourn-title {
  /* @include padd(20px, 80px, 20px, 80px); */
  background: linear-gradient(rgba(0, 0, 0, 0.758), rgba(0, 0, 0, 0.758)),
    url(../Img/trending/wp4533279.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}
.tourn-title-text {
  color: #ff0000;
  text-shadow: 12px 11px 0 rgb(0 0 0 / 51%), 5px 5px 10px rgb(0 0 0 / 57%);
}

.tourn-trphy-img {
  height: 450px !important;
  width: 450px !important;
}

/*-----------------------------------*\
    //         
    trending 
    // \*-----------------------------------*/


    .trending-section{
box-shadow: 0 -5px 3px -3px rgb(255, 255, 255), 0 5px 3px -3px rgb(255, 255, 255);
        background-color: black;
    
    }
    .discord-part-joinn{
        box-shadow: 0 -5px 3px -3px rgb(255, 255, 255), 0 5px 3px -3px rgb(255, 255, 255);
    }

.container-fluid {
        --bs-gutter-x: 0rem !important;
}
.trending-title{
    color: white;
    font-weight: 700;
    font-style: italic;
text-align: center;
    font-size: 40px;
    text-transform: capitalize;
    font-family: $font;
    margin-bottom: 0%;
}






//
