@use "../Scss/_index.scss" as *;

/*-----------------------------------*\
             common
\*-----------------------------------*/

.pixel-head {
  height: auto !important;
  background: linear-gradient(rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0.868)),
    url(../Img/wallpaper/wp8101843.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.logo-menu-part {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.btn-search {
  top: -9px;
}

/*-----------------------------------*\
              wallpaper main title 
\*-----------------------------------*/

.tourn-title {
  @include padd(20px, 80px, 20px, 80px);
  background: linear-gradient(rgba(0, 0, 0, 0.864), rgba(0, 0, 0, 0.826)),
    url(../Img/wallpaper/wp8101843.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

.tourn-title-text {
  color: #ff0000;
  text-shadow: 12px 11px 0 rgb(0 0 0 / 51%), 5px 5px 10px rgb(0 0 0 / 57%);
}

.square {
  position: absolute;
  width: 20px;
  height: 100px;
  background-color: blue;
  animation: moveSquare 2s linear infinite;
}

@keyframes moveSquare {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}

/*-----------------------------------*\
              wallpaper  title 
\*-----------------------------------*/

.wallpaper-section {
  background-color: $black-color;
  box-shadow: 0px -15px 15px -15px #fefefe, 0px 15px 15px -15px #fefefe;
}

.wall-part-t {
  display: flex;
  @include pad-t-b(50px, 50px);
  justify-content: center;
  gap: 40px;
}

/*-----------------------------------*\
           animated text title
\*-----------------------------------*/
.a {
  position: relative;
  background-color: rgba(0, 0, 0, 0.601);
  color: #ffffffaf;
  text-shadow: 0 0 50px #ffffffaf;
  font-size: 50px;
  font-weight: 800;
  font-family: "Barlow", Sans-serif;
  animation: blink 6s ease-in-out infinite;
  &:first-of-type {
    margin-left: auto;
    animation-duration: 5s;
    animation-delay: 2s;
  }
  &:nth-of-type(2) {
    animation-duration: 3s;
    animation-delay: 5s;
  }
  &:nth-of-type(4) {
    animation-duration: 3.89s;
    animation-delay: 2s;
  }
  &:last-of-type {
    margin-right: auto;
    animation-duration: 4s;
    animation-delay: 1.2s;
  }
}
@keyframes blink {
  0% {
    color: #ffffffaf;
    opacity: 1;
    filter: blur(0px);
  }
  25% {
    color: #ff0000;
    filter: blur(0.2px);
  }
  50% {
    color: #ffffff0f;
    opacity: 0.6;
    filter: blur(0.3px);
  }
  75% {
    color: #ffffff0f;
    filter: blur(0.1px);
  }
  100% {
    color: #ffffffaf;
    opacity: 1;
    filter: blur(0px);
  }
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 0rem !important;
}
/*-----------------------------------*\
           cube part 
\*-----------------------------------*/
.cube {
  position: relative;
  width: var(--cube-size);
  height: var(--cube-size);
  transform-style: preserve-3d;
  animation: spin var(--speed) linear infinite;
}

.face {
  position: absolute;
  width: var(--cube-size);
  height: var(--cube-size);
  background: var(--color);
  opacity: 0.8;
}

.front {
  transform: translateZ(calc(var(--cube-size) / 2));
  box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.5);
}

.back {
  transform: translateZ(calc(var(--cube-size) / -2)) rotateY(180deg);
  box-shadow: 0 0 20px 10px rgba(0, 255, 13, 0.5);
}

.right {
  transform: rotateY(-90deg) translateZ(calc(var(--cube-size) / 2));
  box-shadow: 0 0 20px 10px rgba(0, 98, 255, 0.5);
}

.left {
  transform: rotateY(90deg) translateZ(calc(var(--cube-size) / 2));
  box-shadow: 0 0 20px 10px rgba(183, 0, 255, 0.767);
}

.top {
  transform: rotateX(90deg) translateZ(calc(var(--cube-size) / 2));
  box-shadow: 0 0 20px 10px rgba(0, 193, 167, 0.5);
}

.bottom {
  transform: rotateX(-90deg) translateZ(calc(var(--cube-size) / 2));
  box-shadow: 0 0 20px 10px rgba(251, 255, 0, 0.5);
}

@keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

/*-----------------------------------*\
              wallpaper  body
\*-----------------------------------*/

.wallpaper-section-body {
  box-shadow: inset 1px 16px 15px -15px #fefefe, 0px 15px 15px -15px #fefefe;
  @include padd(60px, 80px, 60px, 80px);
  background: linear-gradient(rgba(0, 0, 0, 0.91), rgba(0, 0, 0, 0.914)),
    url(../Img/wallpaper/desktop-wallpaper-sombra-overwatch-gaming-background-c04411.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

/* --Search-part and select part--*/
.search-dropdown {
  display: flex;
  gap: 20px;
  @include pad-t-b(0px, 40px);
}

/* --Search-part--*/

.input-box {
  position: relative;
  width: 100%;
  max-width: 60px;
  height: 45px;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
}
.input-box.open {
  max-width: 280px;
}
.input-box input::placeholder {
  font-weight: 700;
  text-transform: capitalize;
  color: #ffffffb7;
  font-family: "Barlow", Sans-serif;
  font-style: italic;
  font-size: 16px;
}
#close-btn {
  font-size: 30px;
  cursor: pointer;
  color: $fefe;
}
.input-box input {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 18px;
  letter-spacing: 0.1px;
  font-family: ROBOT;
  font-weight: 700;
  background-color: rgb(96 0 0);
  color: $fefe;
  padding: 0 15px;
  border: none;
  border-radius: 6px;
  outline: none;
  transition: all 0.5s ease-in-out;
}
.input-box.open input {
  padding: 0 15px 0 65px;
}

.input-box .search {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $red;
  border-radius: 6px;
  cursor: pointer;
}
.input-box.open .search {
  border-radius: 6px 0 0 6px;
}
.search .search-icon {
  font-size: 30px;
  color: #1c1c1c;
}
.input-box .close-icon {
  position: absolute;
  top: 50%;
  right: -30px;
  font-size: 30px;
  color: #1c1c1c;
  padding: 5px;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
}
.input-box.open .close-icon {
  transform: translateY(-50%) rotate(180deg);
  pointer-events: auto;
  opacity: 1;
}

/* --select menu part--*/

.custom-select {
  position: relative;
  width: 200px;
  // margin-left: auto;
}

.select-selected {
  background-color: #ff0000;
  border-radius: 6px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;

  font-weight: 600;
  text-transform: capitalize;
  color: #000000b7;
  font-family: "Barlow", Sans-serif;
  font-size: 18px;
}

.select-items {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 1;
}

.select-items div {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.select-items div:hover {
  background-color: #ddd;
}

.select-items input[type="text"] {
  width: calc(100% - 30px);
  margin: 10px 15px;
  padding: 5px;
  border: 1px solid #ccc;
}

.show {
  display: block;
}

/* --info btn part--*/
.info-sec-button {
  position: relative;
}

#info-part-btn-one {
  padding-top: 10px;
  color: $fefe;
  font-size: 25px;
  &:hover {
    color: #ff0000;
    cursor: pointer;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.search-details-btn {
  display: none;
  position: absolute;
  bottom: -30px;
  text-transform: capitalize;
  color: $black-color;
  font-family: "Barlow", Sans-serif;
  font-weight: 600;
  font-size: 16px;
  background-color: $fefe;
  width: 450px;
  border-radius: 2ch;
  opacity: 0;
  transition: opacity 0.5s ease;
  animation: fadeIn 0.5s ease forwards;
}

/* --info btn two part --*/

.info-sec-button-two {
  margin-left: auto;
  position: relative;
}

#info-part-btn-two {
  @extend #info-part-btn-one;
  &:hover {
    color: #ff0000;
    cursor: pointer;
  }
}

.search-details-btn {
  display: none;
  width: 450px;
  background-color: $fefe;
  border-radius: 2ch;
  opacity: 0;
  transition: opacity 0.5s ease;
  animation: fadeIn 0.5s ease forwards;
}
.search-details-btn-two {
  right: -6rem;
  bottom: 50px;
  @extend .search-details-btn;
}

/*-----------------------------------*\
              wallpaper img part
\*-----------------------------------*/
.wall-img {
  object-fit: cover;
  object-position: center;
  height: auto;
  width: 450px;
  padding: 5px;
}
#dynamicContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* --middle cool animation like book page--*/

#containerrr {
  position: relative;
  left: 50%;
}

$count: 64;

.tube {
  transform-style: preserve-3d;
  display: flex;
  position: absolute;
  left: 50%;
  top: 10px;
  align-items: center;
  justify-content: center;
  animation: speen 6s infinite linear;
  width: calc(var(--dist) * 2);
  height: var(--size);

  &:nth-child(1) {
    animation-delay: -7.5s;
  }

  &:nth-child(2) {
    animation-delay: -5s;
  }

  &:nth-child(3) {
    animation-delay: -2.5s;
  }
}

.strip {
  transform-style: preserve-3d;
  background-color: white;
  height: 100px;
  width: 100px;
  position: absolute;
  background-image: url(../Img/wallpaper/desktop-wallpaper-sombra-overwatch-gaming-background-c04411.jpg);
  background-size: calc((100px) * (2)) auto;
  background-repeat: no-repeat;
  backface-visibility: hidden;

  @for $i from 1 through $count {
    &:nth-child(#{$i}) {
      transform: rotateY(calc(1turn * #{$i} / var(--count))) translateZ((1));
      background-position: calc((100px) * -#{$i - 1}) center;
    }
  }
}

@keyframes speen {
  0% {
    transform: perspective(400px) rotateY(0deg);
  }
  100% {
    transform: perspective(400px) rotateY(360deg);
  }
}

/* --modal part for download--*/

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  max-height: 80%;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#caption {
  text-align: center;
  margin: 20px 0;
  color: #f1f1f1;
  font-size: 20px;
}

.wall-img:hover {
  transform: scale(0.99);
  cursor: url('../Img/wallpaper/cursor/kawaiigirlnormalselect-ezgif.com-ani-to-gif-converter.gif'), auto;
}
